<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it"
 lang="it" dir="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>it:keywords:namespace</title>
<meta name="generator" content="DokuWiki" />
<meta name="robots" content="index,follow" />
<meta name="date" content="2010-10-28T18:18:07-0700" />
<meta name="keywords" content="it,keywords,namespace" />
<link rel="search" type="application/opensearchdescription+xml" href="http://www.cppreference.com/wiki/lib/exe/opensearch.php" title="C++ Reference" />
<link rel="start" href="../../../index.html" />
<link rel="contents" href="http://www.cppreference.com/wiki/it/keywords/namespace?do=index" title="Indice" />
<link rel="alternate" type="application/rss+xml" title="Recent Changes" href="http://www.cppreference.com/wiki/feed.php" />
<link rel="alternate" type="application/rss+xml" title="Current Namespace" href="http://www.cppreference.com/wiki/feed.php?mode=list&amp;ns=it:keywords" />
<link rel="alternate" type="text/html" title="Plain HTML" href="http://www.cppreference.com/wiki/_export/xhtml/it/keywords/namespace" />
<link rel="alternate" type="text/plain" title="Wiki Markup" href="http://www.cppreference.com/wiki/_export/raw/it/keywords/namespace" />
<link rel="canonical" href="namespace" />
<link rel="stylesheet" media="screen" type="text/css" href="../../lib/exe/css.php@t=custom1&amp;tseed=1289693594" />
<link rel="stylesheet" media="all" type="text/css" href="../../lib/exe/css.php@s=all&amp;t=custom1&amp;tseed=1289693594" />
<link rel="stylesheet" media="print" type="text/css" href="../../lib/exe/css.php@s=print&amp;t=custom1&amp;tseed=1289693594" />
<script type="text/javascript" ><!--//--><![CDATA[//><!--
var NS='it:keywords';var JSINFO = {"id":"it:keywords:namespace","namespace":"it:keywords"};
//--><!]]></script>
<script type="text/javascript" charset="utf-8" src="../../lib/exe/js.php@tseed=1289693594" ></script>
</head>
<body>
<div class="dokuwiki export">
<!-- TOC START -->
<div class="toc">
<div class="tocheader toctoggle" id="toc__header">Indice</div>
<div id="toc__inside">

<ul class="toc">
<li class="clear">

<ul class="toc">
<li class="level2"><div class="li"><span class="li"><a href="namespace#namespace" class="toc">namespace</a></span></div>
<ul class="toc">
<li class="level3"><div class="li"><span class="li"><a href="namespace#namespace_anonimi" class="toc">namespace anonimi</a></span></div></li>
<li class="level3"><div class="li"><span class="li"><a href="namespace#namespace_alias" class="toc">namespace alias</a></span></div></li></ul>
</li></ul>
</li></ul>
</div>
</div>
<!-- TOC END -->

<h2 class="sectionedit1"><a name="namespace" id="namespace">namespace</a></h2>
<div class="level2">

<p>
Sintassi:
</p>
<pre class="cpp code cpp">    <span class="kw2">namespace</span> name <span class="br0">&#123;</span>
        declaratoria<span class="sy4">;</span>
    <span class="br0">&#125;</span></pre>
<p>
La keyword <code>namespace</code> permette di creare uno nuovo <em>scope</em> (ambito) per la definizione 
di riferimenti simbolici. Il nome è opzionale e può essere omesso per creare un namespace anonimo (<em>unnamed</em>). 
Una volta creato il namespace si deve fare riferimento esplicito ad esso per usare 
i simboli in esso definiti, oppure usare <a href="using" class="wikilink1" title="it:keywords:using">using</a> per attivarne la determinazione 
implicita.
</p>

<p>
Esempio:
</p>
<pre class="cpp code cpp">     <span class="co2">#include &lt;iostream&gt;</span>
&nbsp;
     <span class="kw2">namespace</span> CartoonNameSpace <span class="br0">&#123;</span>
       <span class="kw4">int</span> HomersAge<span class="sy4">;</span>
       <span class="kw4">void</span> incrementHomersAge<span class="br0">&#40;</span><span class="br0">&#41;</span> <span class="br0">&#123;</span>
         HomersAge<span class="sy2">++</span><span class="sy4">;</span>
       <span class="br0">&#125;</span>
     <span class="br0">&#125;</span>
     <span class="kw4">int</span> main<span class="br0">&#40;</span><span class="br0">&#41;</span> <span class="br0">&#123;</span>
       ...
       <span class="me1">CartoonNameSpace</span><span class="sy4">::</span><span class="me2">HomersAge</span> <span class="sy1">=</span> <span class="nu0">39</span><span class="sy4">;</span>
       CartoonNameSpace<span class="sy4">::</span><span class="me2">incrementHomersAge</span><span class="br0">&#40;</span><span class="br0">&#41;</span><span class="sy4">;</span>
       std<span class="sy4">::</span><span class="kw3">cout</span> <span class="sy1">&lt;&lt;</span> CartoonNameSpace<span class="sy4">::</span><span class="me2">HomersAge</span> <span class="sy1">&lt;&lt;</span> std<span class="sy4">::</span><span class="me2">endl</span><span class="sy4">;</span>
       ...
     <span class="br0">&#125;</span></pre>
</div>
<!-- EDIT1 SECTION "namespace" [3-865] -->
<h3 class="sectionedit2"><a name="namespace_anonimi" id="namespace_anonimi">namespace anonimi</a></h3>
<div class="level3">

<p>

Un namespace senza nome viene definito come <em>anonimo</em>. Per un tale namespace viene automaticamente 
generato un nome unico per ogni <code>translation unit</code> e per esso non è applicabile la parola chiave 
<a href="using" class="wikilink1" title="it:keywords:using">using</a>. Quindi un namespace anonimo funziona come se la parola chiave <a href="using" class="wikilink1" title="it:keywords:using">using</a> fosse stata usata
implicitamente.
</p>
<pre class="cpp code cpp">    <span class="kw2">namespace</span> <span class="br0">&#123;</span>
      declaratoria<span class="sy4">;</span>
    <span class="br0">&#125;</span></pre>
</div>
<!-- EDIT2 SECTION "namespace anonimi" [866-1271] -->
<h3 class="sectionedit3"><a name="namespace_alias" id="namespace_alias">namespace alias</a></h3>
<div class="level3">

<p>

Si possono creare nuovi nomi per un namespace (compresi i namespace <code>nested</code>, cioè annidati all&#039;interno
di altri namespace). 
</p>
<pre class="cpp code cpp">   <span class="kw2">namespace</span> identifier <span class="sy1">=</span> namespace<span class="sy2">-</span>specifier<span class="sy4">;</span></pre>
<p>
Related Topics: <a href="using" class="wikilink1" title="it:keywords:using">using</a>
</p>

</div>
<!-- EDIT3 SECTION "namespace alias" [1272-] --></div>
</body>
</html>
